html *,
html *::before,
html *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  box-sizing: border-box;
}


@import "tailwindcss";

@theme {
  --font-primary: "Nunito", sans-serif;
  --font-poppins: "poppins", sans-serif;
  --bg-hero-pattern: url('/src/assets/auth-image.png');
  --color-primary: #030229;
  --color-secondary: #605BFF;

}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

.form-inner{
  @apply flex flex-col gap-2 mb-3
}

.signin-input{
  @apply bg-[#F7F7F8] py-2 rounded-lg pl-4 placeholder-[#979797] placeholder:text-sm
}